## Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
*.log

## Visual Studio / VS Code
.vs/
.vscode/
*.user
*.userosscache
*.suo
*.userprefs

## Rider / JetBrains
.idea/

## Standalone build outputs
*.exe
app_render.png
app_screenshot.png
